@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    font-family: 'Open Sans', sans-serif;
}

body {

margin:0px; /* with this the navbar will cover 100% of the page  */
}

/* <SIMPLE RESPONSIVE GRID> */

* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* only for mobile phones: */
    .join-message-col-left-or-top{
        padding-bottom: 0px;
    }
    .join-message-col-right-or-top{
        padding-top: 0px;
    }

    .message-inner-block {
        height: 70px !important;
    }

    .centered-name-in-message-box{
        text-align: center;
        vertical-align: middle;
        line-height: 70px;

    }
    .centered-name-in-message-box a{
        color: rgba(6, 0, 4, 0.65);
        text-decoration: none;
    }

    .centered-message-link{
        text-align: center;
    }


    .center-message-name{
        text-align: center;
    }
        .push-down-main-content{
        padding-top: 20px
    }

    .move-down-back-button-on-small-screen{
         padding-top: 60px;
    }

}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    /* We make the inputs and buttons  smaller on the forms only on desktops :*/
    input[type=text], input[type=password], input[type=email] {
        width: 60% !important;
    }
    .auth-login-button {
        width: 50% !important;
    }
    .auth-register-button {
        width: 50% !important;
    }
    /* we join two message colums without padding here on desktop views */

    .join-message-col-left-or-top{
        padding-right: 0px;
    }
    .join-message-col-right-or-top{
        padding-left: 0px;
    }

    .centered-name-in-message-box{
        vertical-align: middle;
        line-height: 100px !important;  /* the 100px value comes from  the message-inner-block  --> it has to be
        the same height as the div */
        padding-left: 30px;

    }
    .centered-name-in-message-box a{
        color: rgba(6, 0, 4, 0.65);
        text-decoration: none;
    }

    /* we move the main content (everything that a user can see when he is registered
     down a little bit */
    .push-down-main-content{
        padding-top: 70px
    }

}

/* < /SIMPLE RESPONSIVE GRID > */



/* <AUTH NAVBAR> */
 /* Remove margins and padding from the list */
ul.auth-topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */
ul.auth-topnav li {float: right;}

/* Style the links inside the list items */
ul.auth-topnav li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    color: black;
}

/* </ BASE NAVBAR > */

/* <AUTH NAVBAR> */
 /* Remove margins and padding from the list */
ul.base-topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DDDDDF;
}

#nav {
     width: 100%;
     position: absolute;
     top: 0;
     }

/* Float the list items side by side */
ul.base-topnav li {
    float: left;
}

/* Style the links inside the list items */
ul.base-topnav li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    color: #5B595E
;
}

.push-right{
    float: right !important;
}

/* </ BASE NAVBAR > */


/* <PAGE STYLE ELEMENTS> */

.container {
    padding: 16px;
}

.center-input-form {
    text-align:center;
}

.centered-text{
    text-align: center
}

.centered-link{
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #6AB7AB ;
    text-decoration: none;
}

.centered-message-link{
    display: block;
    margin: 0 auto;
    color: rgba(6, 0, 4, 0.65);
    text-decoration: none;

}

.bold{
    font-weight: bold;
}


input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.auth-login-top-heading{
    color: #FF6A00
}

.auth-signup-top-heading{
    color: #56BFC3
}
h3{
    margin:0;
    padding:0;
}

.auth-sub-heading{
    color: #656366;
}

.auth-active{
    color: #FF6A00 !important;
}


.base-active{
    color: #73B5B4 !important;
}

.dark-orange-bottom{
    background: -webkit-linear-gradient(#FF6A00, #ff2209);
background: -moz-linear-gradient(#FF6A00, #ff2209);
background: -ms-linear-gradient(#FF6A00, #ff2209);
background: -o-linear-gradient(#FF6A00, #ff2209);
background: linear-gradient(#FF6A00,#ff2209);
border-color: #ff2209;
}

.dark-blue-bottom{
       background: -webkit-linear-gradient(#48B5BA, #418587);
background: -moz-linear-gradient(#48B5BA, #418587);
background: -ms-linear-gradient(#48B5BA, #418587);
background: -o-linear-gradient(#48B5BA, #418587);
background: linear-gradient(#48B5BA,#418587);
border-color: #418587;

}

.auth-login-button {
    background-color: #FF6A00 ;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90%;

}

.auth-register-button {
    background-color: #48B5BA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90%;
}
.centered-button{
    text-align:center;
}

.no-paragraph-margin{

}

.no-paragraph-margin p{
    margin: 0;
    padding: 0;
}

.message-block {
    width: 100%;
    background-color: #DEE8E9;
    overflow: hidden;
    height: 110px;
}
.message-inner-block {
    height: 100px;
    background-color: white;
    margin: 5px;
}

.message-text-presentation{
    background-color: #DEE8E9
}

.message-reply-button{
    background-color: #FF6A00 ;
    color: white;
    padding: 14px 20px;
      display:block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    width: 70%;
    margin-top: 10px;

}

.friends-send-message-button {
    background-color: #FF6A00;
    color: white;
    padding: 5px 10px;
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 15px;
}


.new-message-send-button {
    background-color: #FF6A00;
    color: white;
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
}

.outer-grey-block {
    width: 100%;
    background-color: #CCC;
    overflow: hidden;
}
.contact-inside {
    background-color: white;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    height: 40px;
}

.contact-inside p{
    margin: 0;
    padding: 0;

}

.new-message{

}
.new-message h1{
        margin-bottom: 0;
    padding-bottom: 0;
}
.new-message h4{
        margin: 0;
    padding: 0;
}

/* these divs position the send message button below the new message text field */
.descriptionarea {

   position: relative;
    display: inline-block;
}

.descriptionarea span.buttonfortxtarea{
    display: block;
    text-align: right;
}

/* CSS talk bubble */
.talk-bubble {
	margin: 20px;
  display: inline-block;
  position: relative;
	width: 50%;
	height: auto;
	background-color: #DEE8E9;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -20px;
	right: auto;
    top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: #DEE8E9 #DEE8E9 transparent transparent;
}

.messages-back-link{
    color: #FF6A00;
    text-decoration: none;
}
.messages-back-link a{
}



/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: -20px;
    top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: #DEE8E9 transparent transparent #DEE8E9;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}


.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   left:-10px;
   font-size:.7em;
   background:#FF6F00;
   color:white;
   width:35px;height:35px;
   text-align:center;
   line-height:35px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}



/* </ PAGE STYLE ELEMENTS>   /*
