<!DOCTYPE html>
<html>

{% load staticfiles %}


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/dogbuddy.messaging.css' %}" rel="stylesheet">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src = "{% static 'js/dogbuddy.messaging.js' %}"></script>

    {% block custom_javascript %}

    {% endblock %}

    <title>Basket Friends</title>

</head>

<body>


{% block content %}
{% endblock %}



</body>

</html>