<!DOCTYPE html>

{% load staticfiles %}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/dogbuddy.messaging.css' %}" rel="stylesheet">
    <title>Basket Friends</title>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'js/dogbuddy.messaging.js' %}"></script>

    {% block custom_javascript %}

    {% endblock %}

</head>

<body>
<div id="nav">
    <ul class="base-topnav" id="base-navbar">
        <li><a href="/" class="">Messages</a></li>
        <li><a href="/friends/" class="base-active">Friends</a></li>
        <li class="push-right"><a href="/logout/" class="">Logout</a></li>

    </ul>

</div>
<div class="push-down-main-content"> <!-- pushes down the content a little bit, how much depends on the
                                        screen size -->
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
