{% extends 'base.html' %}

back-to-messages-link

{% block custom_javascript %}
<script>
    $(document).ready(function () {
      // the link shrinking happens in dogbuddy.messaging.js
    });
</script>
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-3 move-down-back-button-on-small-screen">
        <!-- placeholder div -->
        <a class="messages-back-link" id="back-to-messages-link" href="/"><< Back</a>
    </div>

    <div class="col-6">
        <h1 style="text-align: center; margin-bottom: 5px">Conversation with {{ conversation_partner }}</h1>
        {% for message in all_messages %}

        {% if message.sender == 'Me' %}
                <div style="text-align: center">
                {{ message.sender }}
                           <div class="talk-bubble tri-right left-in">
                  <div class="talktext">
                    <p>{{ message.message_text }}</p>
                  </div>
                </div>
        </div>

        {% else %}
        <div style="text-align: center">
            <div class="talk-bubble tri-right round right-in">
              <div class="talktext">
                <p>{{ message.message_text }}</p>
              </div>
            </div>
            {{ message.sender }}

        </div>

        {% endif %}

        {% endfor %}

    </div>

    <div class="col-3 right">
        <!-- placeholder div -->
    </div>
</div>








{% endblock %}