{% extends 'base.html' %}

{% block custom_javascript %}
<script>
    $(document).ready(function () {
        // adding the top margin of our outer gray box of the friend list
        $(".contact-inside").first().css("margin-top", "2px");
    });
</script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-3">
        <!-- placeholder div -->
    </div>

    <div class="col-6">
        <h1 style="text-align: center; margin-bottom: 5px">Friends</h1>
        {% for contact in contacts %}

        <form action="/write_message/" method="post">
            {% csrf_token %}

            <div class="outer-grey-block">

                <div class="contact-inside">
                    <input type='hidden' name="receiver_email" value="{{ contact.email}}"/>
                    <p style="text-align:left;">
                       <span style="text-align: center;
                                vertical-align: middle;
                        line-height: 40px; margin-left: 5px  ">{{contact.name}}
                       </span>
                       <span style="float:right;"> <button class="friends-send-message-button dark-orange-bottom" type="submit">Send Message</button>

                        </span>
                    </p>
                </div>
            </div>
        </form>
        {% endfor %}
    </div>

    <div class="col-3 right">
        <!-- placeholder div -->
    </div>
</div>


{% endblock %}