{% extends 'auth_base.html' %}

{% block custom_javascript %}
    <script>
         $(document).ready(function(){
             $("#id_username").attr('placeholder', 'Enter email address');
             $("#id_password").attr('placeholder', 'Enter password');

        });
    </script>
{% endblock %}

{% block content %}

 <ul class="auth-topnav" id="">
  <li><a href="/register/" class="auth-inactive">Sign Up</a></li>
  <li><a href="/login/" class="auth-active">Login</a></li>
</ul>


<div class="row">
<div class="col-3 col-m-3">
<!-- placeholder div -->
</div>

<div class="col-6 col-m-9">

        <h2 class="auth-login-top-heading centered-text">Welcome back!</h2>
        <h3 class="auth-sub-heading centered-text">Please Login</h3>
{% if form.errors %}
    <p>Your email and password didn't match. Please try again.</p>
{% endif %}
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}

    <div class="container center-input-form">

        {{ form.username }}
        <!-- <input type="text" placeholder="Enter Email adress" name="uname" required> -->

        {{ form.password }}
        <!--<input type="password" placeholder="Enter Password" name="psw" required> -->
        <input type="hidden" name="next" value="{{ next }}"/>

        <div class="centered-button">
            <button class="auth-login-button dark-orange-bottom" type="submit">Login</button>
        </div>
        <br>
        <div class="no-paragraph-margin">
            <p class="centered-text"> Already A User? </p>
             <a class="centered-link" href="/register/"> Go To Sign Up </a>
        </div>

    </div>

</form>
</div>

<div class="col-3 col-m-12">
<!-- placeholder div -->
</div>

</div>




{% endblock %}
