{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-3">
        <!-- placeholder div -->
    </div>

    <div class="col-6">
        <h1 style="text-align: center">Messages</h1>


        {% for conversation in conversations_with_messages %}
        <div class="create-space-on-mobile-view"></div>

        <form action="/write_message/" method="post">
            {% csrf_token %}


            <!-- We decide if we have to add the "new" badge or not -->
            {% with conversation.messages|last as last_message %}
            {% if last_message.was_read or last_message.from_email == user.email %}
            <div class="col-4 join-message-col-left-or-top">
                <div class="message-block">
                    <div class="message-inner-block center-message-name">
                        <span class="centered-name-in-message-box"><a
                                href="/conversation/{{ conversation.conversation_id }}"> {{conversation.conversation_partner}}</a></span>
                    </div>
                </div>
            </div>

            {% else %}
            <div class="col-4 join-message-col-left-or-top badge1" data-badge="New">
                <div class="message-block">
                    <div class="message-inner-block center-message-name">
                        <span class="centered-name-in-message-box"><a
                                href="/conversation/{{ conversation.conversation_id }}"> {{conversation.conversation_partner}}</a></span>
                    </div>
                </div>
            </div>

            {% endif %}

            {% endwith %}


            <div class="col-8 join-message-col-right-or-top">
                <div class="message-block">
                    <div class="message-inner-block message-text-presentation">

                        <div class="col-8 join-message-col-left-or-top">
                            {% with conversation.messages|last as last_message %}

                            {% if last_message.was_read or last_message.from_email == user.email %}
                                <a class="centered-message-link" href="/conversation/{{ conversation.conversation_id }}">
                                  {{  last_message.message_text }} </a>
                            {% else %}
                                <a class="centered-message-link bold" href="/conversation/{{ conversation.conversation_id }}">
                                  {{  last_message.message_text }} </a>
                            {% endif %}

                            {% endwith %}
                        </div>

                        <div class="col-4 join-message-col-right-or-top">
                            <button class="message-reply-button dark-orange-bottom" type="submit"> Reply</button>
                        </div>

                    </div>
                    <input type="hidden" name="receiver_email" value="{{ conversation.conversation_partner_email }}">
                    <input type="hidden" name="conversation_id" value="{{ conversation.conversation_id }}">


                </div>
            </div>
        </form>

        {% endfor %}

    </div>

    <div class="col-3 right">
        <!-- placeholder div -->
    </div>

</div>


{% endblock %}