{% extends 'base.html' %}

{% block custom_javascript %}
<script>
     $(document).ready(function(){
        console.log('adding outer margin to top div now ');
        $(".id_message_text").attr('placeholder', 'Write your message here...');    });

</script>
{% endblock %}



{% block content %}

<div class="row">
    <div class="col-3 move-down-back-button-on-small-screen">
        <a class="messages-back-link"  href="/"><< Back</a>
    </div>

    <div class="col-6 new-message" id="new-message-content">
        <h1 style="text-align: center;">Send Message</h1>
        <h4 style="text-align: center;">to {{ contact_name }}</h4>

        <form method="post" action="/send_message/">
            {% csrf_token %}
                <div style="text-align: center">
                    <div class="descriptionarea">
                    {{ message_form.as_p }}

                <span class="buttonfortxtarea">
                    <button class= "new-message-send-button dark-orange-bottom">Send Message</button></span>

                </div>
</div>


    </form>



       </div>


    </div>

    <div class="col-3 right">
        <!-- placeholder div -->
    </div>

</div>

{% endblock %}