{% extends "auth_base.html" %}
{% load i18n %}
{% block custom_javascript %}
    <script>
         $(document).ready(function(){
             $("#id_username").attr('placeholder', '* Your Name');
             $("#id_email").attr('placeholder', '* Your email address');
             $("#id_password1").attr('placeholder', '*Enter password');

        });
    </script>
{% endblock %}

{% block content %}
 <ul class="auth-topnav" id="">
  <li><a href="/register/" class="auth-active">Sign Up</a></li>
  <li><a href="/login/" class="auth-inactive">Login</a></li>
</ul>


<div class="row">
<div class="col-3 col-m-3">
<!-- placeholder div -->
</div>

<div class="col-6 col-m-9">

        <h2 class="auth-signup-top-heading centered-text">Sign Up for BasketFriends!</h2>
        <h3 class="auth-sub-heading centered-text">Please enter your details</h3>

<form method="post" action="">
    {% csrf_token %}

    <div class="container center-input-form">

      {{ form.username }}

      {{ form.email }}

      {{ form.password1 }}

        <div class="centered-button">
            <button class="auth-register-button dark-blue-bottom" type="submit">Sign Up</button>
        </div>

    </div>

</form>
</div>

<div class="col-3 col-m-12">
<!-- placeholder div -->
</div>

</div>
{% endblock %}
